$dark-bg-primary: hsl(207, 26%, 17%);
$light-bg-primary: hsl(0, 0%, 98%);
$light-text: hsl(0, 0%, 100%);
$dark-text: hsl(200, 15%, 8%);
$Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
$Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
