@import './media-screen.scss';

@mixin button-sh {
  width: 100%;
  height: max-content;
  margin: 80px 0;
  @include apply-sm-size {
    margin: 40px 0;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 10px 35px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    span {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
  }
}
